{{!-- DISPLAY COMMENTS --}}
<div class="comments">

    {{!-- user the #each helper to iterate over the comments array --}}
    {{#each this }}
    <section class="comment">

        <div class="meta">
            {{!-- use the format_date helper function on the default created_at --}}
            {{user.username}} on {{format_date created_at}}
        </div>

        <div class="text">
            {{comment_text}}
        </div>

    </section>
    {{/each}}

</div>