{{!-- POST DATA from a partial --}}
{{> post-info post}}

{{!-- LEAVE A COMMENT --}}
{{!-- the loggedIn variable comes from home-routes.js --}}
{{#if loggedIn}}
<form class="comment-form">

    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add comment</button>
        <button type="button" class="upvote-btn">Upvote</button>
    </div>

</form>
{{/if}}

{{!-- DISPLAY COMMENTS imported from comments partial--}}
{{> comments post.comments}}

{{!-- static scripts to add functionality to comment box and upvoting --}}
{{!-- only render if logged in. will not break anything, but just unnecessary energy --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}